.nishant{
    /*background-image: url("../images/members/ritik.jpg");*/
    background-color: greenyellow;
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.nishank{
    /*background-image: url("../images/members/");*/
    background-color: greenyellow;
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.puneet{
    background-image: url("../images/members/puneetbansal.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.aman{
    background-image: url("../images/members/aman_rai2.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.prashant-kumar{
    background-image: url("../images/members/prashantkumar2.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.nikhil-katiyar{
    background-image: url("../images/members/nikhilkatiyar.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.nikhil-kumar{
    background-image: url("../images/members/nikhilkumar.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.kshitij{
    background-image: url("../images/members/kshitijyadav.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.rajat{
    background-image: url("../images/members/RajatSrivastava2.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.prashant-verma{
    background-image: url("../images/members/prashantverma.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.abhinav{
    background-image: url("../images/members/abhinavrai.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}

.harshit{
    background-image: url("../images/members/harshitagarwal.jpg");
    background-size: cover;
    height:180px;
    width:180px;
    box-shadow: 2px 2px 10px black;
}