.division9{
    position: relative;
    left:4px;
    top: 0px;
    z-index: 2;
}
.division8{
    position: absolute;
    left:4px;
    top:8px;
    z-index: 3;
}
.division7{
    position: absolute;
    left:4px;
    top: 17px;
    z-index: 4;
}
.division6 {
    position: absolute;
    left:4px;
    top: 0px;
    z-index: 5;
}
.division5 {
    position: absolute;
    left: 0px;
    top:0px;
    z-index: 6;
}
.division4 {
    position: absolute;
    left: 0px;
    top:3px;
    z-index: 7;
}
.division3 {
    position: absolute;
    left:0px;
    top:9px;
    z-index: 8;
}
.division2 {
    position: absolute;
    left:-2px;
    top:10px;
    z-index: 9;
}
.division1 {
    position: absolute;
    left:0px;
    top:14px;
    z-index: 9;
}
.base{
    position: absolute;
}
