.ritik{
    background-image: url("../images/members/ritik.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.bhatia{
    background-image: url("../images/members/bhatia.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.bansal{
    background-image: url("../images/members/shivambansal.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.ayush{
    background-image: url("../images/members/ayush.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.anshul{
    background-image: url("../images/members/anshul.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.akshat{
    background-image: url("../images/members/akshat.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.archit{
    background-image: url("../images/members/archit.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.himanshu{
    background-image: url("../images/members/himanshu.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.divyam{
    background-image: url("../images/members/divyam.jpeg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.devanshi{
    background-image: url("../images/members/devanshi.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.diksha{
    background-image: url("../images/members/diksha.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.soumya{
    background-image: url("../images/members/soumya.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.srishti{
    background-image: url("../images/members/srishti.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.shivi{
    /*background-image: url("../images/members/shivi.jpg");*/
    background-color: greenyellow;
    background-size: cover;
    height: 200px;
    width: 200px;
}
.saurabh{
    background-image: url("../images/members/saurabh.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.shubham{
    background-image: url("../images/members/shubham.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}
.shivendra{
    background-image: url("../images/members/shivendra.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}